body,
html {
    height: 100%;
}

body {
    margin: 0;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

#nav,
#carCanvas,
#networkCanvas,
#train,
#trainStats,
#tableTrainEntries {
    display: none;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homeBtns {
    display: flex;
    flex-direction: row;
}

#activeModel {
    display: inline-block
}

#saveBtn {
    display: none;
}

#trainStats {
    width: 60%;
    margin: auto;
}

#carCanvas {
    background: black;
}

#networkCanvas {
    background: black;
}