#mainView, body, html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    background: lightgreen;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

#nav, #carCanvas, #networkCanvas, #train, #trainStats {
    display: none;
}

#mainView {
    position: relative;
}

#welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homeBtns {
    display: flex;
    flex-direction: row;
}

#activeModel {
    display: inline-block
}

#saveBtn {
    display: none;
}

button {
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    cursor: pointer;
}

#train {
    width: 60%;
    margin: auto;
}

#carCanvas {
    background: black;
}

#networkCanvas {
    background: black;
}