body, html {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    background: lightgreen;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100%;
}

#nav, #play, #train, #trainStats {
    display: none;
}

#welcome {
    justify-content: center;
    align-items: center;
}

#play {
    justify-content: center;
    width: 80%;
    height: 100%;
    margin: auto;
}

#homeBtns {
    display: flex;
    flex-direction: row;
}

#confBtns {
    width: 5%;
    float: left;
    margin-top: 50%;
}

#confBtns button {
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    border-radius: 5px;
    padding: 7px;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background: blue;
}

#playView {
    margin-right: 5%;
}

#carCanvas {
    background: black;
}

#networkCanvas {
    background: black;
}